{% extends 'base.html' %}

{% block content %}
    
    <center><h1>PROFIL</h1></center>
    
    <p align="center"><img src="https://assets.pikiran-rakyat.com/crop/0x0:0x0/x/photo/2021/06/21/1961231422.jpg", width="50%"></p>
    <h2>Sejarah Untirta</h2>
    <p align="justify">Sejarah Universitas Sultan Ageng Tirtayasa dimulai dari Yayasan Pendidikan Tirtayasa yang didirikan tanggal 1 Oktober 1980, berkedudukan di Serang, Banten. Pendirian yayasan ini dikukuhkan berdasarkan Akte Notaris Rosita Wibisono, SH. No. 1 tanggal 1 Oktober 1980, yang kemudian diadakan perubahan melalui Akte Notaris Ny. R. Arie Soetardjo, SH. No. 1 tanggal 3 Maret 1986. </p>
    
    {{title }} <br>
    {% for s1 in s1 %}
        <li>{{s1}}</li>
    {% endfor %}

    <br><br>
    <h2>Visi & Misi</h2>

    {% for visi in visi %}
        <li>{{visi}}</li>
    {% endfor %}

{% endblock %}
